.path Current path: /#{path}
- if contents.length
  %ul.contents
    - contents.each do |file|
      %li
        %a{:href => file[:url], :rel => file[:rel]}
          .filename= file[:name]
          .details= file[:info]
- else
  .error Empty directory!